{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/users/main.css' %}">
    <title>{% block title %} {% endblock title %} Djangogram</title>
</head>
<body>
    here is base.html
    <div>
        {% block content %} {% endblock content %}
    </div>

    <div class="footer">
        {% include "users/footer.html" %}
    </div>
</body>
</html>